.vscode
docker/pgdata
docker/pgadmin

core/core.test
core/cpu.out

core/gbm
core/catboost_info
core/.ipynb_checkpoints
core/RMSE
core/YetiRank
core/main.ipynb
core/__pycache__

catboost/catboost
catboost/lib
antlr/antlr-4.10-complete.jar

test/movielens100k/action.json
test/movielens100k/item.json
test/movielens100k/user.json
train
test/catboost*

cmd/movielens100k/*.json